In [44]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/50_Greatest_Players_in_NBA_History'
dfs = pd.read_html(url)

print(len(dfs))

12

In [50]:
print(dfs[3])

                   Name                      Team(s) played for (years)[a]  \
0   Kareem Abdul-Jabbar  Milwaukee Bucks (1969–1975)Los Angeles Lakers ...
1        Nate Archibald  Cincinnati Royals / Kansas City-Omaha / Kansas...
2           Paul Arizin       Philadelphia Warriors (1950–1952, 1954–1962)
3       Charles Barkley  Philadelphia 76ers (1984–1992)Phoenix Suns (19...
4            Rick Barry  San Francisco / Golden State Warriors (1965–19...
5          Elgin Baylor       Minneapolis / Los Angeles Lakers (1958–1971)
6             Dave Bing  Detroit Pistons (1966–1975)Washington Bullets ...
7            Larry Bird                         Boston Celtics (1979–1992)
8      Wilt Chamberlain  Philadelphia / San Francisco Warriors (1959–19...
9             Bob Cousy  Boston Celtics (1950–1963)Cincinnati Royals (1...
10          Dave Cowens  Boston Celtics (1970–1980)Milwaukee Bucks (198...
11     Billy Cunningham          Philadelphia 76ers (1965–1972, 1974–1976)
12     Dave DeBusschere  Detroit Pistons (1962–1968)New York Knicks (19...
13        Clyde Drexler  Portland Trail Blazers (1983–1995)Houston Rock...
14        Julius Erving                     Philadelphia 76ers (1976–1987)
15        Patrick Ewing  New York Knicks (1985–2000)Seattle SuperSonics...
16         Walt Frazier  New York Knicks (1967–1977)Cleveland Cavaliers...
17        George Gervin  San Antonio Spurs (1976–1985)Chicago Bulls (19...
18            Hal Greer  Syracuse Nationals / Philadelphia 76ers (1958–...
19        John Havlicek                         Boston Celtics (1962–1978)
20          Elvin Hayes  San Diego / Houston Rockets (1968–1972, 1981–1...
21        Magic Johnson               Los Angeles Lakers (1979–1991, 1996)
22            Sam Jones                         Boston Celtics (1957–1969)
23       Michael Jordan  Chicago Bulls (1984–1993, 1995–1998)Washington...
24          Jerry Lucas  Cincinnati Royals (1963–1969)San Francisco War...
25          Karl Malone  Utah Jazz (1985–2003)Los Angeles Lakers (2003–...
26         Moses Malone  Buffalo Braves (1976)Houston Rockets (1976–198...
27        Pete Maravich  Atlanta Hawks (1970–1974)New Orleans / Utah Ja...
28         Kevin McHale                         Boston Celtics (1980–1993)
29         George Mikan                     Minneapolis Lakers (1948–1956)
30          Earl Monroe  Baltimore Bullets (1967–1971)New York Knicks (...
31      Hakeem Olajuwon  Houston Rockets (1984–2001)Toronto Raptors (20...
32     Shaquille O'Neal  Orlando Magic (1992–1996)Los Angeles Lakers (1...
33        Robert Parish  Golden State Warriors (1976–1980)Boston Celtic...
34           Bob Pettit            Milwaukee / St. Louis Hawks (1954–1965)
35       Scottie Pippen  Chicago Bulls (1987–1998, 2003–2004)Houston Ro...
36          Willis Reed                        New York Knicks (1964–1974)
37      Oscar Robertson  Cincinnati Royals (1960–1970)Milwaukee Bucks (...
38       David Robinson                      San Antonio Spurs (1989–2003)
39         Bill Russell                         Boston Celtics (1956–1969)
40        Dolph Schayes  Syracuse Nationals / Philadelphia 76ers (1949–...
41         Bill Sharman  Washington Capitols (1950–1951)Boston Celtics ...
42        John Stockton                              Utah Jazz (1984–2003)
43         Isiah Thomas                        Detroit Pistons (1981–1994)
44        Nate Thurmond  San Francisco / Golden State Warriors (1963–19...
45           Wes Unseld  Baltimore / Capital / Washington Bullets (1968...
46          Bill Walton  Portland Trail Blazers (1974–1979)San Diego / ...
47           Jerry West                     Los Angeles Lakers (1960–1974)
48        Lenny Wilkens  St. Louis Hawks (1960−1968)Seattle SuperSonics...
49         James Worthy                     Los Angeles Lakers (1982–1994)

    Pos    Pts    Reb    Ast  \
0     C  38387  17440   5660
1     G  16481   2046   6476
2     F  16266   6129   1665
3     F  23757  12546   4215
4     F  18395   5168   4017
5     F  23149  11463   3650
6     G  18327   3420   5397
7     F  21791   8974   5695
8     C  31419  23924   4643
9     G  16960   4786   6955
10    C  13516  10444   2910
11    F  13626   6638   2625
12    F  14053   9618   2497
13    G  22195   6677   6125
14    F  18364   5601   3224
15    C  24815  11607   2215
16    G  15581   4830   5040
17    G  20708   3607   2214
18    G  21586   5665   4540
19  F/G  26395   8007   6114
20  F/C  27313  16279   2398
21    G  17707   6559  10141
22    G  15411   4305   2209
23    G  32292   6672   5633
24    F  14053  12942   2732
25    F  36928  14968   5248
26    C  27409  16212   1796
27    G  15948   2747   3563
28    F  17335   7122   1670
29    C  10156   4167   1245
30    G  17454   2796   3594
31    C  26946  13748   3058
32    C  28596  13099   3026
33    C  23334  14715   2180
34    F  20880  12849   2369
35    F  18940   7494   6135
36  C/F  12183   8414   1186
37    G  26710   7804   9887
38    C  20790  10497   2441
39    C  14522  21620   4100
40    F  18438  11256   3072
41    G  12665   2779   2101
42    G  19711   4051  15806
43    G  18822   3478   9061
44    C  14437  14464   2575
45    C  10624  13769   3822
46    C   6215   4923   1590
47    G  25192   5366   6238
48    G  17772   5030   7211
49    F  16320   4708   2791

                                 Championships won[b]  \
0                (1971, 1980, 1982, 1985, 1987, 1988)
1                                              (1981)
2                                              (1956)
3                                                 NaN
4                                              (1975)
5                                                 NaN
6                                                 NaN
7                                  (1981, 1984, 1986)
8                                        (1967, 1972)
9                (1957, 1959, 1960, 1961, 1962, 1963)
10                                       (1974, 1976)
11                                       (1967, 1983)
12                                       (1970, 1973)
13                                             (1995)
14                                             (1983)
15                                                NaN
16                                       (1970, 1973)
17                                                NaN
18                                             (1967)
19   (1963, 1964, 1965, 1966, 1968, 1969, 1974, 1976)
20                                             (1978)
21                     (1980, 1982, 1985, 1987, 1988)
22  (1959, 1960, 1961, 1962, 1963, 1964, 1965, 196...
23               (1991, 1992, 1993, 1996, 1997, 1998)
24                                             (1973)
25                                                NaN
26                                             (1983)
27                                                NaN
28                                 (1981, 1984, 1986)
29                     (1949, 1950, 1952, 1953, 1954)
30                                             (1973)
31                                       (1994, 1995)
32                           (2000, 2001, 2002, 2006)
33                           (1981, 1984, 1986, 1997)
34                                             (1958)
35               (1991, 1992, 1993, 1996, 1997, 1998)
36                                       (1970, 1973)
37                                             (1971)
38                                       (1999, 2003)
39  (1957, 1959, 1960, 1961, 1962, 1963, 1964, 196...
40                                             (1955)
41                           (1957, 1959, 1960, 1961)
42                                                NaN
43                                       (1989, 1990)
44                                                NaN
45                                             (1978)
46                                       (1977, 1986)
47                                             (1972)
48                                             (1979)
49                                 (1985, 1987, 1988)

                                 MVP won  \
0   (1971, 1972, 1974, 1976, 1977, 1980)
1                                    NaN
2                                    NaN
3                                 (1993)
4                                    NaN
5                                    NaN
6                                    NaN
7                     (1984, 1985, 1986)
8               (1960, 1966, 1967, 1968)
9                                 (1957)
10                                (1973)
11                                   NaN
12                                   NaN
13                                   NaN
14                                (1981)
15                                   NaN
16                                   NaN
17                                   NaN
18                                   NaN
19                                   NaN
20                                   NaN
21                    (1987, 1989, 1990)
22                                   NaN
23        (1988, 1991, 1992, 1996, 1998)
24                                   NaN
25                          (1997, 1999)
26                    (1979, 1982, 1983)
27                                   NaN
28                                   NaN
29                                   NaN
30                                   NaN
31                                (1994)
32                                (2000)
33                                   NaN
34                          (1956, 1959)
35                                   NaN
36                                (1970)
37                                (1964)
38                                (1995)
39        (1958, 1961, 1962, 1963, 1965)
40                                   NaN
41                                   NaN
42                                   NaN
43                                   NaN
44                                   NaN
45                                (1969)
46                                (1978)
47                                   NaN
48                                   NaN
49                                   NaN

                          Finals MVP won  All Star  Year  Ref.
0                           (1971, 1985)        19  1995   [5]
1                                    NaN         6  1991   [6]
2                                    NaN        10  1978   [7]
3                                    NaN        11  2006   [8]
4                                 (1975)         8  1987   [9]
5                                    NaN        11  1977  [10]
6                                    NaN         7  1990  [11]
7                           (1984, 1986)        12  1998  [12]
8                                 (1972)        13  1979  [13]
9                                    NaN        13  1971  [14]
10                                   NaN         7  1991  [15]
11                                   NaN         4  1986  [16]
12                                   NaN         8  1983  [17]
13                                   NaN        10  2004  [18]
14                                   NaN        11  1993  [19]
15                                   NaN        11  2008  [20]
16                                   NaN         7  1987  [21]
17                                   NaN         9  1996  [22]
18                                   NaN        10  1982  [23]
19                                (1974)        13  1984  [24]
20                                   NaN        12  1990  [25]
21                    (1980, 1982, 1987)        12  2002  [26]
22                                   NaN         5  1984  [27]
23  (1991, 1992, 1993, 1996, 1997, 1998)        14  2009  [28]
24                                   NaN         7  1980  [29]
25                                   NaN        14  2010  [30]
26                                (1983)        12  2001  [31]
27                                   NaN         5  1987  [32]
28                                   NaN         7  1999  [33]
29                                   NaN         4  1959  [34]
30                                   NaN         4  1990  [35]
31                          (1994, 1995)        12  2008  [36]
32                    (2000, 2001, 2002)        15  2016  [37]
33                                   NaN         9  2003  [38]
34                                   NaN        11  1971  [39]
35                                   NaN         7  2010  [40]
36                          (1970, 1973)         7  1982  [41]
37                                   NaN        12  1980  [42]
38                                   NaN        10  2009  [43]
39                                   NaN        12  1975  [44]
40                                   NaN        12  1973  [45]
41                                   NaN         8  1976  [46]
42                                   NaN        10  2009  [47]
43                                (1990)        12  2000  [48]
44                                   NaN         7  1985  [49]
45                                (1978)         5  1988  [50]
46                                (1977)         2  1993  [51]
47                                (1969)        14  1980  [52]
48                                   NaN         9  1989  [53]
49                                (1988)         7  2003  [54]

In [51]:
print(dfs[3]['Name'])

0     Kareem Abdul-Jabbar
1          Nate Archibald
2             Paul Arizin
3         Charles Barkley
4              Rick Barry
5            Elgin Baylor
6               Dave Bing
7              Larry Bird
8        Wilt Chamberlain
9               Bob Cousy
10            Dave Cowens
11       Billy Cunningham
12       Dave DeBusschere
13          Clyde Drexler
14          Julius Erving
15          Patrick Ewing
16           Walt Frazier
17          George Gervin
18              Hal Greer
19          John Havlicek
20            Elvin Hayes
21          Magic Johnson
22              Sam Jones
23         Michael Jordan
24            Jerry Lucas
25            Karl Malone
26           Moses Malone
27          Pete Maravich
28           Kevin McHale
29           George Mikan
30            Earl Monroe
31        Hakeem Olajuwon
32       Shaquille O'Neal
33          Robert Parish
34             Bob Pettit
35         Scottie Pippen
36            Willis Reed
37        Oscar Robertson
38         David Robinson
39           Bill Russell
40          Dolph Schayes
41           Bill Sharman
42          John Stockton
43           Isiah Thomas
44          Nate Thurmond
45             Wes Unseld
46            Bill Walton
47             Jerry West
48          Lenny Wilkens
49           James Worthy
Name: Name, dtype: object

In [14]:


import pandas as pd

# Webpage url                                                                                                               
url = 'https://en.wikipedia.org/wiki/50_Greatest_Players_in_NBA_History'

# Extract tables
dfs = pd.read_html(url)

# Get first table                                                                                                           
df = dfs[3]

# Extract columns                                                                                                           
df = df[['Name','Pos']]
print(df)

                   Name  Pos
0   Kareem Abdul-Jabbar    C
1        Nate Archibald    G
2           Paul Arizin    F
3       Charles Barkley    F
4            Rick Barry    F
5          Elgin Baylor    F
6             Dave Bing    G
7            Larry Bird    F
8      Wilt Chamberlain    C
9             Bob Cousy    G
10          Dave Cowens    C
11     Billy Cunningham    F
12     Dave DeBusschere    F
13        Clyde Drexler    G
14        Julius Erving    F
15        Patrick Ewing    C
16         Walt Frazier    G
17        George Gervin    G
18            Hal Greer    G
19        John Havlicek  F/G
20          Elvin Hayes  F/C
21        Magic Johnson    G
22            Sam Jones    G
23       Michael Jordan    G
24          Jerry Lucas    F
25          Karl Malone    F
26         Moses Malone    C
27        Pete Maravich    G
28         Kevin McHale    F
29         George Mikan    C
30          Earl Monroe    G
31      Hakeem Olajuwon    C
32     Shaquille O'Neal    C
33        Robert Parish    C
34           Bob Pettit    F
35       Scottie Pippen    F
36          Willis Reed  C/F
37      Oscar Robertson    G
38       David Robinson    C
39         Bill Russell    C
40        Dolph Schayes    F
41         Bill Sharman    G
42        John Stockton    G
43         Isiah Thomas    G
44        Nate Thurmond    C
45           Wes Unseld    C
46          Bill Walton    C
47           Jerry West    G
48        Lenny Wilkens    G
49         James Worthy    F

In [15]:
# Write to excel
df.to_excel('NBA.xlsx')